
<div>
    <div>  
    <p>Random Beers Page</p>
    {{#each beers}}
    <img src="{{this.image_url}}" alt="a random beer" class="beer-photo" width="100px">

    <h1>
        {{this.name}} 
        {{!-- aqui this es cada elemento. Para cada elemento, pillame el name --}}
    </h1>
    <h2>
        {{this.tagline}}
    </h2>
    <p>
        {{this.description}}
    </p>
    <h2>
        {{this.food_pairing}}
    </h2>

    <h2>
        {{brewers_tips}}
    </h2>

    {{/each}}


    </div>


</div>